@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono&family=Shadows+Into+Light&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

head {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding-left: 2em;
    padding-right: 2em;
    color: #110000;
}

nav a {
    text-decoration: none;
    padding: 1rem;
    color: #110000;
}


nav a:hover {
    cursor: pointer;
    color: #04AA6D;
}


.logo img {
    width: 220px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
}


/* home page */

.intro {
    margin: 3rem;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    width: 70%;
    margin-top: 60px;
}

.buttons {
    margin: 3rem;
}

.buttons button {
    padding: 14px 28px;
    border: 2px solid black;
    background-color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #04AA6D;
    color: white;
}

.intro h1, h2 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.intro h2 {
    color: #04AA6D;
}

.buttons {
    text-align: center;
}

.buttons h2 {
    color: #04AA6D;
}

/* contact page */  

.contact-form {
    margin: auto;
    margin-top: 3em;
    max-width: 400px;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    border: 2px solid black;
    padding: 5px 50px 5px 50px;
}

.contact-form h1, h3 {
    text-align: center;
}

input[type=submit] {
    padding: 5px 10px;
    border: 2px solid black;
    background-color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #04AA6D;
    color: white;
}

/* pricing page */  

.priceheader h1 {
    margin-top: 60px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 32px;

}

.vaprices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.service {
    width: 20%;
    margin: 5px;
    font-family: 'Bebas Neue', cursive;
    border: 2px solid black;
}
.service img {
    width: 250px;
    padding: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.service h3 {
    text-align: center;
    font-size: 22px;
}

.service h4 {
    text-align: right;
    font-family: 'Roboto Mono', monospace;
    padding-right: 1rem;

}

.service p {
    font-family: 'Roboto Mono', monospace;
    padding: 1rem 0rem 0rem 1rem;
}

.service button {
    padding: 5px 10px;
    border: 2px solid black;
    background-color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 1em;
}

.service button:hover {
    background-color: #04AA6D;
    color: white;
}

/* portfolio page */  

.portfolio {
    width: 100%;
    margin: auto;
    height: 1300px;
    object-fit: cover;
    padding-bottom: 500px;
}

.portfolio img {
    float: left;
    width: 30%;
    height: 40vh;
    object-fit: cover;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    object-position: 0  0;
}

.portfolio img:hover {
    -webkit-transform: scale(1.25,1.25);
    transform: scale(1.25,1.25);
}

/* footer on all pages */  

.footer {
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    text-align: center;
    left: 0;
    bottom: 0;

    width: 100%;
    color: white;
    background-color: black;
    position: fixed;
}
